.card {
  /* backdrop-filter: blur(10px) saturate(195%); */
  -webkit-backdrop-filter: blur(10px) saturate(195%);
  background-color: rgba(99, 51, 104, 0.67);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 2rem 0.5rem;
  color: white;
}
